@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .custom-margin {
    margin-top: 300px;
    margin-left: 210px; /* Hier können Sie die gewünschte Höhe einstellen */
  }


  body {
    background-color: rgb(27, 22, 49);
  }


  .custom-margin-little-text{
    margin-top: -200px;
    margin-left: 210px;
  }

  .custom-button{
    margin-top: 30px;
    margin-left: 210px;

  }

 .custom-new-text{
   margin-left: 210px;
   margin-top: 200px;
 }

 .custom-margin-image-2 img {
  width: 400px; /* Setze die gewünschte Breite */
  height: 400px; /* Setze die gewünschte Höhe */
  margin-top: -450px;
  margin-left: 1200px;
}











  @media only screen and (max-width: 600px) {
    /* Stile für Geräte mit einer Bildschirmbreite von maximal 600px */
    
  .custom-margin {
    margin-top: 200px;
    margin-left: 10px; /* Hier können Sie die gewünschte Höhe einstellen */
    margin-bottom: 80px;
    margin-right: 30px;
  }

  .custom-margin-image {
    margin-top: -300px;
 

  }
  body {
    background-color: rgb(5, 4, 24);
  }

  .custom-margin-image {
    margin-top: -330px;
    margin-left: 220px; /* Hier können Sie die gewünschte Höhe einstellen */
 
  }
  
  .small-logo {
    width: 100px; /* Hier kannst du die Breite des Bildes anpassen */
    height: auto; /* Das stellt sicher, dass das Seitenverhältnis beibehalten wird */
  }
   
  }
  

  
  
  
  
  